.cities {
display: flex;
justify-content: center;

& > *:not(:last-child) {
  margin-right: 110px;
}

}
.city {
  background: none;
  border: none;
  cursor: pointer;

  color: @color-primary;
  text-transform: uppercase;
  font-family: @font-primary;
  font-size: 34px;
  font-weight: 300;

  &:hover {
    color: @color-primary-hover;
  }

  &:disabled {
    cursor: auto;
  }
}

.city-active {
  color: @color-primary-hover;
  font-weight: 700;
}