.today {
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid @color-white;
}

.title {
  font-size: 36px;
  font-weight: 300;
  color: @color-primary;
}


.info {
  display: flex;
  margin-top: -25px;
  padding-left: 30px;
}

.icon {
  width: 220px;
  height: 220px;
  margin-right: -10px;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}

.temperature {
  font-weight: 700;
  font-size: 85px;
  color: @color-primary;
}

.description {
  font-size: 30px;
  font-weight: 300;
  color: @color-primary;
}