.today {
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid @color-white;
}

.title {
  font-size: 36px;
}


.info {
  display: flex;
}

.icon {
  width: 150px;
  height: 150px;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.temperature {
  font-weight: 600;
  font-size: 40px;
}

.description {
  font-size: 24px;
}