.wrapper {
  min-height: 520px;
  margin-top: 40px;
  width: 100%;
  border: 4px solid @color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.days {
  display: flex;

  & > *:not(:last-child) {
    border-right: 4px solid @color-white;
  }
}

.day {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.day-icon {
  width: 100px;
  height: 100px;
}