.wrapper {
  min-height: 512px;
  margin-top: 40px;
  width: 100%;
  border: 4px solid @color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper-empty {
  align-items: center;
  justify-content: center;
}

.error {
  color: #cc0000;
}